@page
@model IndexModel
@{
    ViewData["Title"] = "Generic Fantasy Game";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Generic Fantasy Game [Beta]</h1>
    <p>TODO - Game</p>
    <a asp-page="./Store">Buy In Game Coins</a>
</div>
